body{
    background-color: rgb(158, 157, 165);
}

.box{
    position: relative;
    margin: auto;
    display: block;
    /* border: solid 3px black; */
    width: 600px;
    height: 420px;
    margin-top: 8%;
    animation: MoveUpDown 1.5s linear infinite;
}

.shadow-box{
    position: relative;
    margin: auto;
    display: block;
    /* border: solid 3px black; */
    width: 600px;
    height: 100px;
    
}

.gameboy{
    position: absolute;
    background-color: rgb(245, 245, 245);
    border-radius: 50% / 0% 0% 8% 8%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 25%;
    height: 60%;
    left: 37.5%;
    top: 15%;
    /* z-index: 1; */
}

@keyframes MoveUpDown{
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 30px;
    }
}

.arm-left{
    position: absolute;
    background-color: rgb(245, 245, 245);
    width: 15%;
    height:20%;
    transform: rotate(40deg);
    border-radius: 50%;
    top: 60%;
    left:-8%;
}

.arm-right{
    position: absolute;
    background-color: rgb(245, 245, 245);
    width: 15%;
    height:20%;
    transform: rotate(-40deg);
    border-radius: 50%;
    top: 60%;
    right:-8%;
}

.frame{
    position: absolute;
    background-color: rgb(47, 47, 49);
    border-radius: 3%;
    width: 88%;
    height: 45%;
    top: 4%;
    left: 6%;
}

.screen{
    position: absolute;
    background-color: rgb(66, 65, 70);
    border-radius: 2%;
    width: 70%;
    height: 65%;
    top: 12%;
    left: 15%;
    font-family: 'Press Start 2P', cursive;
    color: rgb(235, 235, 235);
    font-size: .45em;
}

.screen p{
    position: absolute;
    top: 30%;
    left: 11%;
}

.power{
    position: absolute;
    background-color: rgb(189, 0, 0);
    border-radius: 50%;
    width: 3%;
    height: 3%;
    top: 35%;
    left: 5%;
}

.d-pad-1{
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(47, 47, 49);
    height: 15%;
    width: 10%;
    top: 60%;
    left: 17%;
    border-radius: 10%;
}

.d-pad-2{
    position: absolute;
    transform: rotate(-45deg);
    background-color: rgb(47, 47, 49);
    height: 15%;
    width: 10%;
    top: 60%;
    left: 17%;
    border-radius: 10%;
}

.a{
    position: absolute;
    background-color: rgb(47, 47, 49);
    height: 11%;
    width: 20%;
    top: 62%;
    left: 68%;
    border-radius: 50%;
}

.b{
    position: absolute;
    background-color: rgb(47, 47, 49);
    height: 3%;
    width: 5%;
    top: 70%;
    left: 88%;
    border-radius: 50%;
}

.start{
    position: absolute;
    height: 1%;
    width: 10%;
    top: 76%;
    left: 44%;
    border-bottom: 4px solid rgb(47, 47, 49);
    border-left: 4px solid rgb(47, 47, 49);
    border-right: 4px solid rgb(47, 47, 49);
    border-radius: 0 0 20px 20px;
}

.shadow{
    position: absolute;
    height: 65%;
    width: 28%;
    background-color: rgb(124, 122, 131);
    top:-80%;
    left: 36%;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1.09);
    }
    50% {
        transform:scale(1);
    }
}


